*{
    font-family: Arial;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    height: 100vh;
}

nav{
    display: flex;
    justify-content: space-around;
    background-color: #333;
    color: #fff;
    width: 5%;
    height: 100%;
    transition: width 0.5s
}

nav:hover{
    width: 20%;
}

.div-menu{
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s, max-height 0.5s;
    visibility: hidden;
}

nav:hover .div-menu{
    opacity: 1;
    max-height: 500px;
    visibility: visible;
}


nav a{
    color: #fff;
    text-decoration: none;
}

li {
    list-style: none;
}

.menu{
    list-style: none;
}

.menu li{
    padding: 15px;
}

.menu li:hover{
    background-color: #575757;
}

.menu-item li:hover{
    background-color: #333;
}

.menu-item{
    font-size: 1.5rem;
}

.menu-item ul{
    display: none;
    font-size: 1rem;    
}

.menu-item:hover ul{
    transition: 2s;
    display: block;
    background-color: #575757;
    margin-top: 15px;
    border-radius: 5px;
}

.icon{
    padding: 10px;
}

main{
    padding: 20px;
    margin-left: 250px;
}
